<div class="flex-container" id="food">
  <div class="w3-quarter">
     <div class="images"> <a href="/fresa.html"><img src="img/disk2.png" alt="Sandwich" style="width:100%"></a></div>
     <div class="texto">  <h3 class="texto">Te de Fresa</h3>
    <p class="texto">Perfecto para dejarte un buen sabor refrescante en la boca</p></div>
  </div>
  <div class="w3-quarter">
    <div class="images"> <a href="/cardo.html"><img src="img/cardo.png" alt="Sandwich" style="width:100%"></a></div>
    <div class="texto">   <h3 class="texto">Te de Cardo Mariano</h3>
    <p class="texto">perfecto para aquellos que sufren inflamaciones.</p></div>
  </div>
  <div class="w3-quarter">
    <div class="images">  <a href="/relajante.html"><img src="img/relax.png" alt="Sandwich" style="width:100%"></a></div>
    <div class="texto">   <h3 class="texto">Te Relajante</h3>
    <p class="texto">Ataques de ansiedad? Yo te lo soluciono.</p>
    <p class="texto">que mas se puede pedir</p></div>
  </div>
  <div class="w3-quarter">
    <div class="images"> <a href="/dormir.html"><img src="img/dormir.png" alt="Sandwich" style="width:100%"></a></div>
    <div class="texto">   <h3 class="texto">Te para dormir</h3>
    <p class="texto">Equipado con la dosis perfecta de arsenico, que te dara un largo descanso.</p></div>
  </div>
  <div class="w3-quarter">
    <div class="images"> <a href="/vengativo.html"><img src="img/venganza.png" alt="Sandwich" style="width:100%"></a></div>
    <div class="texto">  <h3 class="texto">Te Vengativo</h3>
    <p class="texto">Muy parecido al Te para dormir.</p></div>
  </div>
  <div class="w3-quarter">
    <div class="images"> <a href="antidepresivo.html"><img src="img/happy.png" alt="Sandwich" style="width:100%"></a></div>
    <div class="texto"> <h3 class="texto">Te antidepresivo</h3>
    <p class="texto">es solo agua. mantenerse hidratado es importante!</p></div>
  </div>
  <div class="w3-quarter">
    <div class="images">  <a href="/galleta.html"><img src="img/galleta.png" alt="Sandwich" style="width:100%"></a></div>
    <div class="texto">   <h3 class="texto">Te sabor a galleta</h3>
    <p class="texto">Un te que te hara babear con su esquisito sabor a galleta.</p></div>
  </div>
  <div class="w3-quarter">
    <div class="images">  <a href="/caliente.html"><img src="img/hot.png" alt="Sandwich" style="width:100%"></a></div>
    <div class="texto">   <h3 class="texto">Te caliente</h3>
    <p class="texto">Esta muy caliente.</p></div>
  </div>
</div>