// Font families

$yas-font-family: 'Karma', serif;

// Font sizes


// Base colors
$fondo: white ;
$letras: rgb(76, 74, 99)  ;
$titulo1: rgb(78, 32, 57)  ;
$titulo2: rgb(38, 20, 88)  ;
$divy: rgb(152, 217, 255);




// Main components colors


// Responsive
// 667 iphone landscape. 768 ipad portrait
$mobile-portrait-width: 414px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;

// Forms variables

